<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/attraction.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/member.css') }}">

</head>
<body>
    <div id="mask"></div>
    <div class="sign-in-flex">
        <div class="sign-in-dialog" id="sign-in-dialog">
            <span class="close-button" id="sign-in-close-button"></span>
            <div class="sign-in-form">
            <div class="gradient-bar"></div>
            <div class="sign-in-sign-up-title">
                登入會員帳號
            </div>
            <input class="sign-in-input-email" id="sign-in-email-input" placeholder="輸入電子信箱" autocomplete="off">
            <input class="sign-in-input-password" id="sign-in-password-input" placeholder="輸入密碼" type = "password">
            <button type="submit" class="sign-in-sign-up-button" id="sign-in-submit-button" >登入帳戶</button>
            <div class="error-msg" id="sign-in-error-msg"></div>
            <div class="switch-to-sign-up" id="switch-to-sign-up">還沒有帳戶？點此註冊</div>
            </div>
        </div>
        <div class="sign-up-dialog" id="sign-up-dialog">
            <span class="close-button" id="sign-up-close-button"></span>
            <div class="sign-up-form">
                <div class="gradient-bar"></div>
                <div class="sign-in-sign-up-title">
                    註冊會員帳號
                </div>
                <input class="sign-up-input-name" id="sign-up-name-input" placeholder="輸入姓名" autocomplete="off">
                <input class="sign-up-input-email" id="sign-up-email-input" placeholder="輸入電子信箱" autocomplete="off">
                <input class="sign-up-input-password" id="sign-up-password-input" placeholder="輸入密碼" type = "password">
                <button type="submit" class="sign-in-sign-up-button" id="sign-up-submit-button" >註冊新帳戶</button>
                <div class="error-msg" id="sign-up-error-msg"></div>
                <div class="switch-to-sign-up" id="switch-to-sign-in">已經有帳戶了？點此登入</div>
            </div>
    </div>  
</div>     

    <div class="navbar">

        <div class="navbar-box">
    
        <div class="nav-homepage">
            <a href = "/" class="link" >
            <div class="nav-homepage-title">
                台北一日遊
            </div>
            </a>
        </div>
        
            <div class="item" id="nav-bar-item"> 
                <!-- 這裡的figma line height = 13.3, 但是設定後整體高度跟figma不一致。 -->
                <div class="nav-button" id="booking-entry-button">
                    預定行程
                </div>
                <div class="nav-button" id="sign-in-button">
                    登入/註冊
                </div>
            </div>
    
        </div>
    </div>
    <div class="navbar-space"> </div>
            <hr class="nav-separator">
       

   
        <div class="photo-order-container" id="photo-order-container">
            <div class="photo-slide" id="photo-slide">
                <span class="arrow-btn-left" id="arrow-btn-left"></span>
                <span class="arrow-btn-right" id="arrow-btn-right"></span>
                <span class="dot" id="dot"></span>
                <div class="photo-display" id="photo-display">
                </div>    
                <div class="indicator" id="indicator"></div>
            </div>
            <div class="spotName-order">     
                <div class="spotName" id="spotName">

                </div>
                <div class="category-mrt" id="category-mrt">
                    
                </div>

                <div class="order-form">
                            <div class="order-title">
                            訂購導覽行程
                        </div>
                        <div class="order-text">
                            以此景點為中心的一日行程，帶您探索城市角落故事
                        </div>

                        <div class="order-date-title">
                        <label>選擇日期：
                            <input type="date" class="date-input" id="trip-date" name="trip-start"  min="2023-09-01" max="2024-09-15" required />
                        </label>
                        </div>

                        <div>
                            <label class="order-title" id="select-time">選擇時間：
                            
                                    <input type="radio" id="select-time-morning" name="select-time" value="morning" checked />
                                    <label for="select-time-morning" class="radio-text">上半天</label>
                                    <input type="radio" id="select-time-afternoon" name="select-time" value="afternoon" />
                                    <label for="select-time-afternoon" class="radio-text">下半天</label>
                            </label>
                        
                            <div class="order-title" id="price-title">
                                導覽費用：
                                <span class="price">新台幣</span> <span class="price" id="price">2000</span><span class="price"> 元</span>
                            </div>

                            
                            <div>
                                <button type="submit" class="booking-button" id="start-booking-button">開始預約行程</button>
                            </div>
                            

                        </div>
                    </div>
            </div>
        </div>
    <div class="hr-container">
    <hr class="separator">
    </div>
    <div class="desc-flex-container">
            <div class="desc" id="desc-container">
            </div>
            
    </div>
    <div class="bottom-space">

    </div>
    <div class="footer" id="bottom-element">
    <span class="footer-text" id="footer-text">
    COPYRIGHT © 2023 台北一日遊
    </span>
    </div>

    <script src="{{url_for('static', filename='attraction.js')}}"></script>
    <script src="{{url_for('static', filename='member.js')}}"></script>
    <script src="{{url_for('static', filename='booking.js')}}"></script>

</body>
</html>